* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://i.imgur.com/ZfTBXDm.jpg') ;
  background-size: 100%;
  background-color: #eee;
}

