// --------------------------
// VARIABLES
// --------------------------
$maincolor: #3f4e20;
$contrastcolor: white;
$disabledcolor: gray;
$disabledtext: #5c5c5c;
$deletecolor: #b41a1a;
$deletetext: #000;

@mixin white-text-green-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin green-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

@mixin white-text-gray-bg {
    color: $contrastcolor;
    background-color: $disabledcolor
}

@mixin black-text-red-bg {
    color: $deletetext;
    background-color: $deletecolor;
}

// --------------------------
// Header
// --------------------------

nav {
    @include white-text-green-bg;
    display: flex;
    justify-content: flex-start;

    a {
        @include white-text-green-bg;
    
        div{
            margin: 10px;
            font-size: large;
        }
    }
}

// --------------------------
// Form
// --------------------------


div {
  .search {
    input {
      @include white-text-green-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include green-text-white-bg;
      }
    }
  }
  button {
    @include white-text-green-bg;
    padding: 10px;
    font-size: 1.1em;
    margin: 10px;

    &:hover{
        @include green-text-white-bg;
    }

    &:disabled{
        background-color: gray;
        &:hover{
            @include white-text-gray-bg;
        }
    }
  }
}

.deleteBtn {
    @include black-text-red-bg;
    border-radius: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}