// --------------------------
// VARIABLES
// --------------------------
$maincolor: #3f4e20;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;

    a {
        @include white-text-black-bg;
    
        div{
            margin: 10px;
            font-size: large;
        }
    }
}

// --------------------------
// Form
// --------------------------


div {
  .search {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-text-white-bg;
      }
    }
  }
  button {
    @include white-text-black-bg;
    padding: 10px;
    font-size: 1.1em;
    margin: 10px;

    &:hover{
        @include black-text-white-bg;
    }
  }
}